<div class="level">
  <h2 class="text-center">0 - 21</h2>
  <div class="playing" *ngIf="!levelCompleted && !levelLost" [@secondFading]>
    <div class="header my-2">
      <h2 class="text-center">LEVEL {{ currentLevel }}</h2>
      <span>{{ cards.length - index + 1 }}</span>
    </div>
    <div class="content">
      <div [@firstFading] #currentCardsList class="d-flex justify-content-center w-100">
        <div [@firstFading] draggable="true" (dragstart)="onDragStart($event)" *ngFor="let card of currentCards; let i = index" id="{{i}}" class="card mx-2" [ngClass]="{'card-pos': !isPos(i), 'card-neg': isPos}" (click)="nextCard(i)">
          <h2>{{ card.number }}</h2>
        </div>
      </div>
      <div class="footer">
        <div class="result">
          <h2 class="text-center">{{ result }}</h2>
        </div>
        <div (dragover)="onDragOver($event)" (drop)="onDrop($event)" class="drag-parent"> </div>
      </div>
    </div>
  </div>
  <div [@levelCompleted] *ngIf="levelLost" class="level-result level-lost">
    <h2 class="text-danger">{{ result }}</h2>
    <h2 class="text-danger">You lost!</h2>
    <button class="btn-outline-danger" (click)="reset()">Play again</button>
  </div>
  <div [@levelCompleted] *ngIf="levelCompleted" class="level-result level-completed">
    <h2 class="text-primary">{{ result }}</h2>
    <h2 class="text-primary">You won!</h2>
    <button class="btn-outline-primary" (click)="reset()">Next level</button>
  </div>
</div>